.container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0px;
    border-radius: 5px;
    overflow: inherit;
}

.mainContent {
    position: relative;
    height: 100%;
    width: 100%;
}

.eventBusy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventChoosen {
    background-color: rgba(247, 255, 2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventReserved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventBreak {
    background-color: rgb(43, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventContent {
    padding: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editBar {
    position: absolute;
    text-align: end;
    width: 100%;
    padding: 5px;
    bottom: 0;
    right: 0;
}

.controlButton {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 5px;
}