.busyCell {
    background: "red";
}

.freeCell {
    background: "green";
}

tr:last-child {
    overflow: hidden;
}

td {
    transition: .3s;
    width: 150px;
    height: 90px;
    vertical-align: middle;
}

td:hover {
    
}

.calendarLoader {
    
}

.navigation {
    display: flex;
    justify-content: end;
}

.newEventForm {
    padding: 5px;
    width: 100%;
}