@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@300&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');


.container {
    margin-top: 25px;
    min-height: 30px;
    height: 2vh;
    padding: 5px;
    width: 100%;
}

.brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 44px;
}