.button {
    background-color: #5865f2;
    color: white;
    padding:10px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    display: flex;
    gap: 15px;
    font-size: 1.1em;
    justify-content: center;
    cursor: pointer;
    line-height: 30px;
    font-weight: bold;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.container {
    position: relative;
    width: 150px;
    height: 100px;
}

img {
    
}