.navBar {
  display: flex;
  height: 100%;
}

.avatarButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: auto;
  height: 100%;
  transform: .5s;
  width: 300px;
  gap: 5px;
}

.profileInfo {
  width: 65%;
  margin-left: 10px;
}

.userName {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.logout {
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  transition: .3s;
  border-radius: 15px;
}

.logout:hover {
  background-color: #1f221f;
}

.headerAvatar {
  position: relative;
  display: flex;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
}



